html {
  --txt-color: #191919;
  --bg-color: #e0b4bf;
  
  --color-main: #e697a9;
  --color-sub: #bda2bc;

  --color-main-light: #f4c3c8;

  --color-theme1: #b97a8d;
  --color-theme2: #e0b4bf;
  --color-theme3: #ba8f9a;
  --color-theme4: #cc95a3;
  --color-theme5: #baa0ba;
  --color-theme6: #ab8cab;

  --box-shadow: 0 0.25rem 0.5rem 0 rgba(230,151,169,0.7);
}