@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');

*, *::before, *::after {
  color: var(--txt-color);
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html {
  font-size: 14px;
  font-family: "Zen Maru Gothic", Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  &.cat-paw {
    cursor: url("../cursor/cat_paw1.png"), auto;
    a {
      cursor: url("../cursor/cat_paw2.png"), pointer;
    }
  }
}