@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@font-face {
  font-family: "FakePearl-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"),
  url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

*, *::before, *::after {
  color: var(--txt-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: #ffd3e1;
}

html {
  font-size: 16px;
  font-family: "Zen Maru Gothic", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden auto;
  &[lang="zh"] {
    font-family: "FakePearl-Regular", sans-serif;
  }
  .letter {
    font-family: "Zen Maru Gothic", Helvetica, Arial, sans-serif;
  }
}

body {
  &.viewer-open {
    padding-right: 0 !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-block: 0 1rem;
}

button, a {
  cursor: pointer;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
}

img, svg, .ov-icon {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.wrapper {
  position: relative;
  height: 100%;
  max-width: 100rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 48em) { // 48 * 16 = 768
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.ov-icon, .ov-icon :is(path, rect) {
  color: inherit
}
