@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

*, *::before, *::after {
  color: var(--txt-color);
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background: #e0b4bf;
}

html {
  font-size: 16px;
  font-family: "Zen Maru Gothic", Helvetica, Arial, sans-serif;
  background: var(--bg-color);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  font-family: inherit;
  // font-size: 1em;
}

ul {
  margin: 0;
}

img, svg, .ov-icon {
  object-fit: contain;
}

.wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ov-icon, .ov-icon :is(path, rect) {
  color: inherit
}
