.router-fade {
  &-enter {
    &-from {
      opacity: 0;
    }
    &-active {
      transition: opacity var(--router-fade-time, 0.3s) ease var(--router-fade-time, 0.3s);
    }
    &-to {
      opacity: 1;
    }
  }
  &-leave {
    &-from {
      opacity: 1;
    }
    &-active {
      transition: opacity var(--router-fade-time, 0.3s) ease;
    }
    &-to {
      opacity: 0;
    }
  }
}

.list-stagger {
  &-enter {
    &-from {
      transform: translateY(var(--list-stagger-distance, 0));
      opacity: 0;
    }
    &-active {
      transition: all var(--list-stagger-time, 0.3s) ease var(--list-stagger-time, 0.3s);
    }
    &-to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-leave {
    &-from {
      transform: translateY(0);
      opacity: 1;
    }
    &-active {
      transition: all var(--list-stagger-time, 0.3s) ease;
    }
    &-to {
      transform: translateY(var(--list-stagger-distance, 0));
      opacity: 0;
    }
  }
}

.fade {
  &-enter {
    &-from {
      opacity: 0;
    }
    &-active {
      transition: opacity var(--fade-time, 0.3s) ease;
    }
    &-to {
      opacity: 1;
    }
  }
  &-leave {
    &-from {
      opacity: 1;
    }
    &-active {
      transition: opacity var(--fade-time, 0.3s) ease;
    }
    &-to {
      opacity: 0;
    }
  }
}
